@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("./frontend/imgs/back.jpg");
  background-position: center;
}

.container {
    max-width: 500px;
    margin: 85px auto;
    height: 450px;
    padding: 30px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-form {
    margin-bottom: 40px;
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  .btn {
    display: flex;
    float: right;
    background: #000;
    color: #fff;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 20%;
  }
  
  #put-hidden {
      display: none;
  }

  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 130px;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
  }

  .form-check {
    display: inline-block;
  }
  
  a {
      text-decoration: none;
      font: inherit;
      color: black;
      display: flex;
      float: right;
  }

  a:hover {
      color: red;
      cursor: pointer;
  }

  .social-media {
      display: flex;
      margin-top: 200px;
      margin-left: 160px;
  }

  .container-slider {
    background-image: url("./frontend/imgs/caozinho.jpeg");
    background-position-y: center;
    background-position-x: center;
    background-repeat: repeat;
    background-size: 50%;
    position:relative;
    width: 70%;
    height: 300px;
    margin: 21px auto;
    min-height: 300px;
    border: 1px solid RGB(0,0,0, 0.2);
    padding: 30px 40px 10px 35px;
    border-radius: 5px;
  }

  .container-cards {
    max-width: 500px;
    margin: 85px auto;
    height: 450px;
    padding: 30px;
    border: 1px solid aquamarine;
    border-radius: 5px;
  }